# Environment & secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
